Repository ethersphere/swarm, pull requests merged in 2018-07, with the labels that each got.

#744 swarm/pss: (UPDATE) Generic notifications package
  swarm/pss/handshake.go
  swarm/pss/notify/notify.go
  swarm/pss/notify/notify_test.go
  swarm/pss/protocol.go
  swarm/pss/pss.go
  swarm/pss/pss_test.go
Labels: enhancement, pss, ready for review

#766 BMT hasher fixes
  swarm/bmt/bmt.go
  swarm/bmt/bmt_r.go
  swarm/bmt/bmt_test.go
Labels: bmt, bug, chunker rewrite, ready for review

#771 Adding context to more function calls
  swarm/api/api.go
  swarm/api/api_test.go
  swarm/api/filesystem.go
  swarm/api/filesystem_test.go
  swarm/api/http/server_test.go
  swarm/api/manifest.go
  swarm/api/storage.go
  swarm/api/storage_test.go
  swarm/network/stream/delivery_test.go
  swarm/network/stream/intervals_test.go
  swarm/network/stream/snapshot_retrieval_test.go
  swarm/network/stream/snapshot_sync_test.go
  swarm/network/stream/syncer_test.go
  swarm/network_test.go
  swarm/storage/chunker.go
  swarm/storage/chunker_test.go
  swarm/storage/filestore.go
  swarm/storage/filestore_test.go
  swarm/storage/hasherstore.go
  swarm/storage/hasherstore_test.go
  swarm/storage/pyramid.go
  swarm/storage/types.go
  swarm/swarm_test.go
Labels: ready for review

#704 Client-side MRU signing -- step 5/5
  cmd/swarm/main.go
  cmd/swarm/mru.go
  swarm/api/api.go
  swarm/api/client/client.go
  swarm/api/client/client_test.go
  swarm/api/http/server.go
  swarm/api/http/server_test.go
  swarm/storage/mru/doc.go
  swarm/storage/mru/handler.go
  swarm/storage/mru/lookup.go
  swarm/storage/mru/metadata.go
  swarm/storage/mru/metadata_test.go
  swarm/storage/mru/request.go
  swarm/storage/mru/request_test.go
  swarm/storage/mru/resource.go
  swarm/storage/mru/resource_sign.go
  swarm/storage/mru/resource_test.go
  swarm/storage/mru/signedupdate.go
  swarm/storage/mru/timestampprovider.go
  swarm/storage/mru/update.go
  swarm/storage/mru/updateheader.go
  swarm/testutil/http.go
Labels: enhancement, ready for another review, resource update

#774 swarm/api/http: http package refactoring 1/5
  swarm/api/client/client_test.go
  swarm/api/http/error_test.go
  swarm/api/http/server.go
  swarm/api/http/server_test.go
  swarm/swarm.go
Labels: http interface, ready for review

#776 swarm/api/http: http package refactoring 2/5
  swarm/api/api.go
  swarm/api/http/server.go
  swarm/api/http/server_test.go
Labels: http interface, pending-other-merge

#769 Network simulation for swarm tests
  p2p/simulations/adapters/inproc.go
  swarm/network/simulation/bucket.go
  swarm/network/simulation/bucket_test.go
  swarm/network/simulation/connect.go
  swarm/network/simulation/connect_test.go
  swarm/network/simulation/events.go
  swarm/network/simulation/events_test.go
  swarm/network/simulation/example_test.go
  swarm/network/simulation/http.go
  swarm/network/simulation/http_test.go
  swarm/network/simulation/kademlia.go
  swarm/network/simulation/kademlia_test.go
  swarm/network/simulation/node.go
  swarm/network/simulation/node_test.go
  swarm/network/simulation/service.go
  swarm/network/simulation/service_test.go
  swarm/network/simulation/simulation.go
  swarm/network/simulation/simulation_test.go
  swarm/network_test.go
Labels: network testing, ready for review

#792 swarm/fuse: ignore default manifest entry
  swarm/fuse/swarmfs_unix.go
Labels: bug, fuse, in progress, manifest, ready for another review

#778 swarm/bmt: async hashing, concurrent section writes
  swarm/bmt/bmt.go
  swarm/bmt/bmt_test.go
Labels: bmt, chunker rewrite, ready for review, storage-refactor
